.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    text-align: center;
    flex-direction: column;
}

/*h1,
h2,
h3,
input {
    display: flex;
    justify-content: center;
    color: green;
    text-align: center;
}

input {
    width: 200px;
    align-items: center;
    justify-content: center;
}
*/
